@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #282d35 url('./assets/react-icon-large.png') no-repeat;
  background-position: right bottom;
}

header {
  height: 90px;
  background: #21222a;
  display: flex;
  align-items: center;
  padding: 0px 30px;
}

.Header__logo {
  height: 30px;
  padding-right: 10px;
}

.Header__logo-name {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.05em;
  color: #61dafb;
  margin-right: auto;
}

.Header__title {
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  color: #deebf8;
}

main {
  margin: 30px;
}

.Main__title {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.Main__details {
  font-weight: 400;
  font-size: 16px;
  line-height: 2rem;
  color: #ffffff;
}

ul {
  list-style: none;
}

ul li::before {
  content: '\2022';
  color: #61dafb;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.5rem;
  font-size: 1.5rem;
}
