@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

header {
  height: 90px;
  background: #21222a;
  display: flex;
  align-items: center;
  padding: 0px 30px;
}

.Header__logo {
  height: 30px;
  /* margin-left: 30px; */
  padding-right: 10px;
}

.Header__logo-name {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #61dafb;
  margin-right:auto;
}

.Header__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #deebf8;
}
